.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header > div{
    min-width: 200px;
}

.header .logo{
    padding-left: 100px;
}

.header .menu{
    padding-right: 300px;
}

.header .menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 0px;
}

.header .menu ul li{
    padding: 10px;
    margin: 0px 5px 0px 0px;
    line-height: 1.6;
    font-size: 1rem;
    font-weight: bold;
}

.header .menu ul li:last-child{
    margin: 0px;
}

.header .menu ul li:hover{
    border-bottom: 2px solid palevioletred;
}


.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1px;
    padding-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.header2 > div{
    flex-grow: 1;
}

.header2 div img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.header2-2{
    display: flex;
    flex-direction: column;
    text-align:center;
}

.header3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.header3 > div{
    flex-grow: 1;
}

.header3 div img{
    width: 100%;
}

.header3-2{
    display: flex;
    flex-direction: column;
    text-align:center;
}

.header4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 0px;
}

.header4 ul li{
    list-style: none;
    font-weight: bold;
}

.header5{
    margin-left: 10%;
    margin-right: 10%;
}

.text1{
    color: black;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    margin-top: 10%;
    margin-left: 7%;
}

.text1-1{
    color: black;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    margin-top: 10%;
    margin-left: 6%;
}

.text2{
    color: white;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    margin-top: 15%;
    margin-left: 9%;
}

.text2-2{
    color: white;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
}